apipkg==1.5
appdirs==1.4.4
argon2-cffi==20.1.0
attrs==19.3.0
beautifulsoup4==4.9.1
bleach==3.1.5
certifi==2020.4.5.2
cffi==1.14.0
chameleon==3.7.4
chardet==3.0.4
check-manifest==0.42
cmarkgfm==0.4.2
colorama==0.4.3; platform_system == "Windows"
defusedxml==0.6.0
devpi-client==5.2.0
devpi-common==3.5.0
devpi-constrained==1.0.0
devpi-findlinks==2.0.1
devpi-jenkins==2.0.0
devpi-ldap==1.2.2
devpi-lockdown==1.0.1
devpi-postgresql==2.0.0
devpi-pr==1.0.0
devpi-server==5.5.0
devpi-web==4.0.4
distlib==0.3.0
docutils==0.16
execnet==1.7.1
filelock==3.0.12
hupper==1.10.2
idna==2.9
itsdangerous==1.1.0
lazy==1.4
ldap3==2.7
packaging==20.4
passlib==1.7.2
pastedeploy==2.1.0
pep517==0.8.2
pg8000==1.15.3
pkginfo==1.5.0.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
py==1.8.2
pyasn1==0.4.8
pycparser==2.20
pygments==2.6.1
pyparsing==2.4.7
pyramid==1.10.4
pyramid-chameleon==0.3
python-dateutil==2.8.1
pyyaml==5.3.1
readme-renderer==26.0
repoze.lru==0.7
requests==2.24.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0; platform_python_implementation == "CPython" and python_version < "3.9"
scramp==1.2.0
six==1.15.0
soupsieve==1.9.6
strictyaml==1.0.6
toml==0.10.1
tox==3.15.2
translationstring==1.3
urllib3==1.25.9
venusian==3.0.0
virtualenv==20.0.23
waitress==1.4.4
webencodings==0.5.1
webob==1.8.6
whoosh==2.7.4
zope.deprecation==4.4.0
zope.interface==5.1.0
