apipkg==1.5; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
appdirs==1.4.4; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.4"
argon2-cffi==20.1.0
attrs==20.2.0; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.4"
beautifulsoup4==4.9.3; python_version >= "3.4"
bleach==3.2.1; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.4"
build==0.1.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
certifi==2020.6.20; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
cffi==1.14.3
chameleon==3.8.1; python_version >= "3.4"
chardet==3.0.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
check-manifest==0.45; python_version >= "3.6"
cmarkgfm==0.4.2; python_version >= "3.4"
colorama==0.4.4; python_version >= "2.7" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and platform_system == "Windows"
defusedxml==0.6.0; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.4"
devpi-client==5.2.1
devpi-common==3.6.0; python_version >= "3.4"
devpi-server==5.5.0
devpi-web==4.0.5; python_version >= "3.4"
distlib==0.3.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
docutils==0.16; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.4"
execnet==1.7.1; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.4"
filelock==3.0.12; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
hupper==1.10.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
idna==2.10; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
itsdangerous==1.1.0; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.4"
lazy==1.4
packaging==20.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
passlib==1.7.4; python_version >= "3.4"
pastedeploy==2.1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pep517==0.9.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pkginfo==1.6.1
plaster-pastedeploy==0.7; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
plaster==1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pluggy==0.13.1; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.4"
py==1.9.0; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.4"
pycparser==2.20; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pygments==2.7.2; python_version >= "3.5"
pyparsing==2.4.7; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pyramid-chameleon==0.3; python_version >= "3.4"
pyramid==1.10.4; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.4"
python-dateutil==2.8.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
readme-renderer==28.0; python_version >= "3.4"
repoze.lru==0.7; python_version >= "3.4"
requests==2.24.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
ruamel.yaml==0.16.12
six==1.15.0; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.4"
soupsieve==2.0.1; python_version >= "3.5"
strictyaml==1.1.0; python_version >= "3.4"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
tox==3.20.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
translationstring==1.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
urllib3==1.25.11; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
venusian==3.0.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
virtualenv==20.1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
waitress==1.4.4; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.4"
webencodings==0.5.1; python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.4"
webob==1.8.6; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
whoosh==2.7.4; python_version >= "3.4"
zope.deprecation==4.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
zope.interface==5.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
